<div class="well" id="movies">
	<h2>Movies</h2>
	
	<nav class="navbar navbar-inverse">
	 	<div class="container">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		     	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      	</button>
		    </div><!-- end navbar-header -->
			
		    <div class="collapse navbar-collapse">
	  			<ul class="nav navbar-nav">			        
			        <li>
			        	<!-- TODO fali glif -->
			        	<a href="#/topratedmovies">Top Rated</a>
			        </li>
			      	<li>
			        	<a href="#/nowplayingmovies">Now Playing</a>
			        </li>
			      	<li>
			      		<!-- TODO fali glif -->
			        	<a href="#/popularmovies">Popular</a>
			        </li>
			      	<li>
			      		<!-- TODO fali glif -->
			        	<a href="#/upcomingmovies">Upcoming</a>
			        </li>				     
	  			</ul><!-- end left navbar part -->
      
			    
    		</div><!-- /.navbar-collapse -->
		</div><!-- end container-collapse -->
	</nav>
	<div class="container">
	{{#each movies}}
		<div>{{this.originalTitle}}</div>
	{{/each}}		
	</div>	
</div>