<div class="well" id="popularPeople">
	<div class="row">
		<div class="col-sm-6">
			{{#each people}}
			<div class="row person">	
				<div class="col-sm-6">				
					<div class="person-information">
						<img class="img-thumbnail person-image" src="{{this.profilePath}}" alt="">
						<a href="{{this.profileLink}}"><h4>{{this.name}}</h4></a> 
					</div>					
				</div>
				<div class="col-sm-6">
					{{#each knownForMovies}}
					<div class="person-known-for">
						<div class="known-for-image">
							<div>
								<img class="known-for-image img-thumbnail" src="{{knownForMovies.posterPath}}" alt="Known For Image">
							</div>
							<div> 
								<p class="known-for-title">{{this.originalTitle}}</p>
							</div>
						</div>
					</div>	
					{{/each}}								
				</div>
			</div>
			{{/each}}
		</div>

	</div>
</div>