<div class="well" id="personInformation">
	<div class="row">
		<div class="col-sm-3">
			<img src="{{personGeneral.profilePath}}" class="person-general-image img-thumbnail"alt="">
			<!-- TODO FORMATIRAJ OVAJ DATUM RODENJA -->
			<p>Birth</p>
			<p>{{personGeneral.birthday}}</p>
			<p>{{personGeneral.placeOfBirth}}</p>
		</div>
		<div class="col-sm-9">
			<h2>{{personGeneral.name}}</h2>

			<hr>

			<p>{{personGeneral.biography}}</p>
		
			<hr>

			<h2>Appearances</h2>
			
			<div class="row">
				
				<div class="col-sm-6">
					<h2>Movies</h2>
					{{#each movieCredits}}
						<p>{{this.originalTitle}}</p>
					{{/each}}
				</div>
				
				<div class="col-sm-6">
					<h2>TV</h2>
					{{#each tvCredits}}
						<p>{{this.originalName}}</p>
					{{/each}}
				</div>
			</div>

			<hr>

			<h2>Images</h2>

			{{#each posters}}
				<img src="{{this.filePath}}" class="person-general-poster img-thumbnail" alt="Cast Member Image">
			{{/each}}
		</div>
	</div>
</div>