<div class="well">	
	<div id="movie" class="row">

		<!-- IMAGE -->
		<div class="col-sm-3">
			<img src="http://image.tmdb.org/t/p/w500{{basicInformation.posterPath}}" width="250" height="500" class="movieThumbnail img-thumbnail" alt="Movie Poster">
		</div>
		<!-- DESCRIPTION -->
		<div class="col-sm-9">
			<div class="page-header">
				<h1 class="movie_title">{{basicInformation.name}}
				<small>({{getYearFromDate basicInformation.firstAirDate}})</small></h1><small> {{basicInformation.voteAverage}} <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span> ({{basicInformation.voteCount}} Votes)</small>
			</div>
			<div class="page-body">
				<h4>Overview</h4>
				<p>{{basicInformation.overview}}</p>

				<hr>

				<h4>Cast</h4>

				{{#each cast}}
					<div class="row">
						<div class="col-sm-6 cast-member">
							<div class="cast-member-image">
								<img src="{{this.profilePath}}" class="cast-member-image img-thumbnail" alt="Cast Crew Image">
							</div>
							<div class="cast-member-text">
								<p><a href="#/person/{{this.id}}">{{this.name}}</a></p>
								<p>{{this.character}}</p>
							</div>
						</div>

					</div>
				{{/each}}
				<hr>

				<h4>Images</h4>
				<div class="row">
					{{#each posters}}
						<div class="movie-poster-holder">
							<img src="{{this.filePath}}" alt="" class="img-thumbnail movie-poster-posters">
						</div>
					{{/each}}
				</div>
				
				<hr>
				
				<!--TODO dodaj reviewove -->
				<h4>Reviews</h4>
				<div class="row">
					
				</div>
				<hr>

				<h4>If you enjoyed {{basicInformation.originalTitle}}, you might also like...</h4>
				<p>
					{{#each similar}}
						<div class="recommendation">
							<img src="{{this.posterPath}}" class="movie-poster-recommendation img-thumbnail" alt="Movie Poster" width="100" height="200">
							<p class="recommendation-title"></p>{{this.originalTitle}}
						</div>
					{{/each}}
				</p>
			</div>
		</div>
	</div>
</div>