<div class="well" id="movies">
	<h2>TV Shows</h2>
	<nav class="navbar navbar-inverse">
	 	<div class="container">
			
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		     	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      	</button>
		    </div><!-- end navbar-header -->

		    <div class="collapse navbar-collapse">
	  			<ul class="nav navbar-nav">			        
			        <li>
			        	<a class="menu-item-tvshows" data-address="toprated">Top Rated</a>
			        </li>
			      	<li>
			        	<a class="menu-item-tvshows" data-address="ontheair">On the Air</a>
			        </li>
			      	<li>
			        	<a class="menu-item-tvshows" data-address="popular"> Popular</a>
			        </li>
			      	<li>
			        	<a class="menu-item-tvshows" data-address="airingtoday"> Airing Today</a>
			        </li>				     
	  			</ul><!-- end left navbar part -->
      
	   		</div><!-- /.navbar-collapse -->

		</div><!-- end container-collapse -->
	</nav>		
	<div class="container">
	{{#each tvshows}}
		<div>{{this.name}}</div>
	{{/each}}		
	</div>	

</div>