<div class="row" id="featuresHeading">
	<div class="col-12">
		<div class="well">
			<div class="page-header">
				<h1>ZMDB <small> Zorkan Movie DataBase </small></h1>
			</div><!-- end page-header -->
			
			<p class="lead">Zorkan's project to test out Backbone.JS and Twitter's Bootstrap and to get a decent job one day.
			By using themoviedb.org API it is possible to get all the latest news about movies, actors, tv shows and much more. Also, you can rate movies and create your own personalized lists.</p>

			<!-- SEARCH BOX -->
			<div class="input-group">
			    <input id="multi-search-input" type="text" class="form-control" placeholder="Search for movies, people and TV shows...">
			    <span class="input-group-btn">
			      <button id="multi-search-button" class="btn btn-default" type="button">Go!</button>
			    </span>
			</div><!-- /input-group -->

		</div><!-- end well -->
	</div><!-- end col-12 -->
</div><!-- end featuresHeading -->


<div class="row" id="features">
	<div class="col-sm-4 feature">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">People</h3>
			</div><!-- end panel-heading -->
			<img src="images/stars.jpg" alt="People">
			<p>Find out which are currenty the biggest stars in the 7-th art bussines.</p>
			
			<a href="#/people" class="btn btn-warning btn-block">People</a>
		</div><!-- end panel -->
	</div><!-- end feature -->
	
	<div class="col-sm-4 feature">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Movies</h3>
			</div><!-- end panel-heading -->
			<img src="images/movie.png" alt="Movie">
			<p>Find your favorite movie, and also check out what is trending today</p>
			
			<a href="#/movies" class="btn btn-danger btn-block">Movies</a>
		</div><!-- end panel -->
	</div><!-- end feature -->
	
	<div class="col-sm-4 feature">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">TV Shows</h3>
			</div><!-- end panel-heading -->
			<img src="images/tvshows.png" alt="TV Shows">
			<p>Find your favorite movie, check out what is trending today</p>
			<a href="#/tvshows" class="btn btn-info btn-block">TV Shows</a>
		</div><!-- end panel -->
	</div><!-- end feature -->
</div><!-- end features -->

<div class="row" id="onTvInTheatersPanel">
	<div class="col-12">

		<div class="col-sm-6" id="onTvPanel">
			<div class="caption">
				<h3>On TV</h3>
			</div><!-- end caption -->
				{{#each onTvCollection}}
				<div class="well">
					<div class="row">
						<!-- image -->
						<div class="col-sm-4">
							<!-- POPRAVI OVDJE DA AKO NE DOBIJE IMAGE DA STAVI NEKU DEFAULTNU -->
							<!-- posto sliku koristim i dole, mogao bi to izdvojit u neki helper -->
							<img src="{{this.posterPath}}" class="movieThumbnail img-thumbnail" alt="Movie Poster">						
						</div>
						<!-- description -->
						<div class="col-sm-8">
							<div class="panel panel-primary">
								<div class="panel-heading">
									<div class="panel-title">
										<a href="#/tvshow/{{this.id}}">{{this.name}}</a>
									</div>
								</div>
								<div class="panel-body">
									{{this.overview}}
								</div>
							</div>
						</div>
					</div>
				</div><!-- end well -->
				{{/each}}			
		</div><!-- end col-6 -->


		<div class="col-sm-6" id="inTheatersPanel">
			<div class="caption">
				<h3>In Theaters</h3>
			</div><!-- end caption -->
				{{#each inTheatersCollection}}
				<div class="well">
					<div class="row">
						<!-- image -->
						<div class="col-sm-4">
							<!-- POPRAVI OVDJE DA AKO NE DOBIJE IMAGE DA STAVI NEKU DEFAULTNU -->
							<!-- posto sliku koristim i dole, mogao bi to izdvojit u neki helper -->
							<img src="{{this.posterPath}}" class="movieThumbnail img-thumbnail" alt="Movie Poster">							
						</div>
						<!-- description -->
						<div class="col-sm-8">
							<div class="panel panel-primary">
								<div class="panel-heading">
									<div class="panel-title">
										<a href="#/movie/{{this.id}}">{{this.originalTitle}}</a>
									</div>
								</div>
								<div class="panel-body">
									{{this.overview}}
								</div>
							</div>
						</div>
					</div>
				</div><!-- end well -->
				{{/each}}			
		</div><!-- end col-6 -->

	</div><!-- end col-12 -->
</div><!-- end onTvInTheatersPanel -->



