/****************************************
	=movie
*****************************************/

#movie {
	margin-top: 100px;
}

.movie_title {
	margin-top: -40px;
}

/**************************************
	=cast-member
***************************************/

.cast-member {
	margin-bottom: 50px;
}

.cast-member-image {
	float: left;
	margin-right: 10px;
	width: 100px;
	height: 100px;

}

/*
todo 
TEKST KOD GLUMACA IZLAZI PREKO IMENA AKO JE DUGACAK
*/

.cast-member-text {
	margin-top: 10px;
	float: left;
}


/***************************************
	=movie-poster
****************************************/

.movie-poster-holder {
	float:left;
	margin-top: 5px;
	margin-left: 10px;
}

.movie-poster-posters {
	height: 200px;
	width: 200px;
}

.movie-poster-recommendation {
	width: 100px;
	height: 200px;
}

/*****************************************
	=recommendation
******************************************/

.recommendation {	
	text-align: center;
	margin-top: 10px;
	float: left;
}

.recommendation-title {

	margin-top: 2px;
	font-size: 15px;
}

.recommendation-image {

}

