#popularPeople {
	margin-top: 100px;
}

.person {
	border: 1px solid;
	margin-bottom: 50px;
}
.person-information {
	text-align: center;
}

.person-image {
	margin-top: 10px;
	width: 200px;
	height: 200px;
}

.known-for {	
	text-align: center;
	margin-top: 10px;
}

.known-for-title {

	margin-top: 2px;
	font-size: 15px;
}

.known-for-image {

}

