/******************************************
	=menubar
******************************************/

#menubar {
}

/******************************************
	=features
******************************************/

#features {
	text-align: center;
}

#features img {
	margin: 0 0 20px;
	width:300px;
	height:300px;
}

#featuresHeading {
	margin-top:75px;
}

/******************************************
	=onTvInTheatersPanel
******************************************/

#onTvInTheatersPanel {
	text-align: center;
}

.seeMoreButton {
	position: absolute;
	margin-top: -50px;
	margin-left: -75px;
	width:150px;
}

/******************************************
	=footer
******************************************/

#footer {
	width: 100%;
	background: #333;
	color: #eee;
	padding: 20px;

}